

<div id="settings_wrap">

    <div id="settings_input_wrap">
        <h2 id="settings_head_options_text">Graphics</h2>
        <label for="particlesEffect">
            Missile Particle Effect
            <input type="checkbox" checked="true" name="particlesEffect" id="particlesEffect">
        </label>
    </div>

</div>